{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <h1 class="display-4 text-center">Items You Can Buy</h1>
    </div>
    <div class="container mt-4">
        <div class="row justify-content-center ">

            {% for item in items %}
            <div class="col-sm-3 shadow-sm items"  style="margin-bottom: 3em;">
                <div class="col-12">
                    <img src="{{item.img.url}}" alt="" class="img-fluid image">
                </div>
                <div class="col-12">
                    <h2 class="price"><small>${{item.price}}</small></h2>
                    <p class="name">{{item.name}}</p>
                    <button type="button" id="cart" class="btn btn-success w-60 add-cart" style="margin:0 auto;display:block;margin-bottom: 1em;;">Add to cart</button>
                </div>
            </div>
            {% endfor %}




            




        </div>
    </div>

    <div class="container-fluid bg-dark text-white">
        <div class="row justify-content-center"style="padding-top:4em;padding-bottom:2em;">
            <div class="col-4 text-center">
                <h1 style="color:orange;">Contacts</h1>
                <p>9841256884</p>
                <p>1245897896</p>
                <p>1457895656</p>
            </div>
            <div class="col-4 text-center">
                <h1 style="color:orange;">Services</h1>
                <p>Web Development</p>
                <p>App Development</p>
                <p>Domain Services</p>
            </div>
            <div class="col-4 text-center">
                <h1 style="color:orange;">Address</h1>
                <p>Washington DC</p>
                <p>USA</p>
            </div>
        </div>
    </div>

    <hr style="margin:0;padding:0;">
    <div class="container-fluid bg-dark">
        <div class="row">
            <div class="col-12 text-center mb-4">
                <p style="color:white;">&copy;  binayshrestha798@gmail.com</p>
                
            </div>
        </div>
    </div>


    <script src="{% static '/js/scripts.js' %}"></script>
{% endblock %}